# Ambientes virtuais
venv/
.venv/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados SQLite
*.db
*.sqlite
*.sqlite3

# Arquivos de configuração de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

